# .gitignore

# Odoo configuration file
/config/odoo.conf

# PostgreSQL password file
/odoo_pg_pass

# Environment variable files
/.env

# Ignore database and credential files (if used)
/odoo_pg_user
/odoo_pg_db
/odoo_pg_host
/odoo_pg_port
/odoo_pg_password

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# macOS system files
.DS_Store